.label {
    font-size: 2rem;
}

.textarea {
    height: 25rem;
}

.input {
    font-family: inherit;
    width: 70%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, border-width 0.1s linear;
}

.input::placeholder {
    color: #ccc;
}

.input:focus {
    outline: none;
    border-color: rgb(21, 117, 69);
}

.button {
    border: 2px solid darkgreen;
    background-color: transparent;
    border-radius: 10px;
    width: 7rem;
    margin: 2rem 0rem;
    padding: 0.7rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-style: inherit;
}

.button:hover {
    background-color: darkgreen;
    border-color: white;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    gap: 0.5rem;
}

.selectBtn {
    border: 2px solid darkgreen;
    background-color: transparent;
    border-radius: 15px;
    padding: 0.7rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-decoration: inherit;
    display: inline-block;
    max-width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
}

.selected {
    background-color: darkgreen !important;
}



/* MODAL */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid darkgreen;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    text-align: center;
    position: relative;
    background-color: rgb(43, 43, 43);
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #ff3b3b;
}

.confirmButton {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.confirmButton:hover {
    background-color: rgb(3, 73, 3);
}


@media (max-width: 768px) {

    .input {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .modalContent {
        width: 75%;
    }
}